DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=pdsi_lgpd
DB_NAME=lgpd-educa
DB_PORT=5432

PORT=3000

JWT_SECRET=lgpd_educa_secret_jwt_2024

EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=seu_user_mailtrap
EMAIL_PASS=seu_pass_mailtrap

FRONTEND_URL=http://localhost:5173
