# Configurações do Banco de Dados
DB_HOST=localhost
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DB_NAME=lgpd_educa
DB_PORT=5432

# Configurações de Autenticação
JWT_SECRET=seu_segredo_super_secreto
JWT_EXPIRES_IN=1d

# Configurações do Servidor
PORT=3000
