POSTGRES_DB=lgpd_educa
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pdsi_lgpd
PORT=5432

DATABASE_URL=postgresql://postgres:pdsi_lgpd@localhost:5432/lgpd_educa

PGADMIN_EMAIL=admin@pgadmin.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=80

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000